# Created by https://www.gitignore.io

### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

#QCS2015ws/lib/FastInoset.jar

#QCS2015ws/lib/gmbal-api-only.jar

#QCS2015ws/lib/ha-api.jar

#QCS2015ws/lib/javax.annotation.jar

#QCS2015ws/lib/jaxb-api.jar

#QCS2015ws/lib/jaxb-xjc.jar

#QCS2015ws/lib/jaxb-impl.jar

#QCS2015ws/lib/jaxws-api.jar

#QCS2015ws/lib/jaxws-rt.jar

#QCS2015ws/lib/jsr181-api.jar

#QCS2015ws/lib/jaxws-tools.jar

#QCS2015ws/lib/woodstox-core-asl.jar

#QCS2015ws/lib/streambuffer.jar

#QCS2015ws/lib/stax2-api.jar

#QCS2015ws/lib/stax-ex.jar

#QCS2015ws/lib/policy.jar

#QCS2015ws/lib/mimepull.jar

#QCS2015ws/lib/management-api.jar

#QCS2015ws/lib/saaj-api.jar

#QCS2015ws/lib/saaj-impl.jar

#QCS2015ws/lib/mail.jar
